<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <!-- Include Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Welcome to the Dashboard, <%= username %>!</h1>
      <p class="lead">This is your personalized dashboard.</p>
      <% if (image) { %>
      <img src="/uploads/<%= image %>" alt="Profile Image" class="img-fluid" />
      <% } %>
    </div>
    <div class="container mt-5">
      <h2>Add a New Blog</h2>
      <!-- enctype="multipart/form-data" -->
      <form
        method="POST"
        action="/blogs/createBlog"
        enctype="multipart/form-data"
      >
        <!-- Blog Title -->
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            placeholder="Enter the title of your blog"
            required
          />
        </div>

        <!-- Blog Content -->
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            class="form-control"
            id="content"
            name="content"
            rows="4"
            placeholder="Enter the content of your blog"
            required
          ></textarea>
        </div>

        <!-- Blog Image -->
        <div class="form-group">
          <label for="image">Upload an Image</label>
          <input
            type="file"
            class="form-control-file"
            id="image"
            name="image"
            accept=".jpg, .jpeg, .png"
          />
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
